<!DOCTYPE html>
<html>
  <head>
    <title>Find your people | MeetUs</title>
<link rel="icon" id="siteicon" href="https://s26.postimg.cc/uxciwbo55/iconlarge.png" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <% if current_user %>
    <script src="https://maps.googleapis.com/maps/api/js" charset="utf-8"></script>
<style type="text/css">

  #map {
    width: 500px;
    height: 500px;
  };
 </style>
  <script>
    window.currentUser = {
      "id": <%= current_user.id %>,
      "username": "<%= current_user.username %>",
      "email": "<%= current_user.email %>"
      };
  </script>
<% end %>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script type="text/javascript">
  window.CLOUDINARY_OPTIONS = {
    cloud_name: "<%=ENV['CLOUD_NAME']%>",
    upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
  };
</script>



  </head>

  <body classname="main-body">
    <%= yield %>
  </body>
</html>
